{
  "branches": ["main", "develop"],
  "repositoryUrl": "https://github.com/Vellanos/BRIEF_PIPELINE_DATA_ENG",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    "@semantic-release/git",
    "@semantic-release/github"
  ]
}